* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.particles-effect {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.particles-effext_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

#particles-js {
    position: relative;
    height: 100%;
    background: #fff;
    mix-blend-mode: screen;
}